In [1]:
a = b

NameError: name 'b' is not defined

In [5]:
try:
    ## code block exception can occur
    a = b
except Exception as ex:
    print(ex)

name 'b' is not defined

In [13]:
try:
    a = int(input("Enter the number 1:"))
    b = int(input("Enter the number 2:"))
    c = a/b
    d = a*b
except ZeroDivisionError :
    print("Please provide the number greate than zero")
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)

Enter the number 1:10
Enter the number 2:12
0.8333333333333334
120

In [15]:
## Try else finally

try:
    a = int(input("Enter the number 1:"))
    b = int(input("Enter the number 2:"))
    c = a/b
    d = a*b
except ZeroDivisionError :
    print("Please provide the number greate than zero")
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)
finally:
    print('execution is done')

Enter the number 1:12
Enter the number 2:20
0.6
240
execution is done

In [16]:
# Hackereath questions
list1 = [3,23,4,5]
list2 = list1
list1.reverse()

In [17]:
print(list2)

[5, 4, 23, 3]

In [19]:
x = 'python'
for i in x:
    x.replace(i,'x')
print(x)

python

In [20]:
names1 = ['Mike','Ben','tara','anita']
names2 = names1
names3 = names1[:]

In [21]:
names3

['Mike', 'Ben', 'tara', 'anita']

In [22]:
names2[0]='Alice'

In [23]:
names2

['Alice', 'Ben', 'tara', 'anita']

In [24]:
names3[1]='Bob'

In [25]:
names3

['Mike', 'Bob', 'tara', 'anita']

In [26]:
sum = 0
for ls in (names1,names2,names3):
    if ls[0] == 'Alice':
        sum+= 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

12

In [33]:
sum = 0
for ls in (names1,names2,names3):
    if ls[1] == 'Bob':
        sum += 10
print(sum)

10

In [28]:
L =  [lambda y: y**1,lambda y: y **2, lambda y: y**3]
for f in L:
    print(f(3))

3
9
27

In [31]:
names1 = ['lisa','ben','paul']
names2 = [name.lower() for name in names1]
print(names2[2][0])

p

### Custom Exception

In [34]:
class Error (Exception):
    pass

class dobException(Error):
    pass

In [36]:
year = int(input('Enter the year of Birth:'))
age = 2021 - year
try:
    if age <= 30 & age>20:
        print("The age is valid. you can apply for it")
    else:
        raise dobException
except dobException:
    print("The year age is not valid. You cannot apply for it")

Enter the year of Birth:1990
The year age is not valid