In [3]:
set_var = {1,2,3,4,4}

In [4]:
set_var

{1, 2, 3, 4}

In [16]:
set_var.add("Hulk")
set_var

{1, 2, 3, 4, 'Hulk'}

In [8]:
set1 = {"Ave","Iron","Hit"}
set2 = {"Ave", "Iron","Hit", "Hulk"}

In [9]:
set2.difference(set1)

{'Hulk'}

In [10]:
set2.difference_update(set1)

In [11]:
set2

{'Hulk'}

### Dictonaries : unorders,changeable with keys and values pair

In [15]:
dict = {}
type(dict)

dict

In [17]:
my_dict = {"car1": "Audi1", "car2": "BMW"}

In [19]:
type(my_dict)

dict

In [20]:
my_dict['car1']

'Audi1'

In [21]:
for x in my_dict:
    print(x)

car1
car2

In [22]:
for x in my_dict.values():
    print(x)

Audi1
BMW

In [23]:
for x in my_dict.items():
    print(x)

('car1', 'Audi1')
('car2', 'BMW')

In [25]:
my_dict['car3'] = "Mer"

In [26]:
my_dict

{'car1': 'Audi1', 'car2': 'BMW', 'car3': 'Mer'}

### Nest Dictionary

In [27]:
car1_model = {'Mercedes': 1960}
car2_model = {'Audi': 1970}
car_type = {'car1':car1_model,"car2": car2_model}

In [28]:
car_type

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}}

In [30]:
print(car_type['car1'])

{'Mercedes': 1960}

In [32]:
print(car_type['car1']['Mercedes'])

1960

### Tuples

In [34]:
my_tuples = tuple()
my_tuples

()

In [35]:
type(my_tuples)

tuple

In [36]:
my_tuples = ("Ganga","Rao","Krish")
my_tuples

('Ganga', 'Rao', 'Krish')

In [37]:
my_tuples.count("Ganga")

1

In [40]:
my_tuples.index("Rao")

1