In [ ]:
# List ( Array - Data structure) Only dynamic array in python
# Dict (Hash Table)

In [ ]:
# Strock price of continuous days
lst = [23,45,56,69]

In [ ]:
# for checking first day price
lst[0]

In [ ]:
# What if the prices of different dates we have, to access ?
dict = {'Apr26': 254,'Apr27': 500, 'Apr28': 488,'Apr29':50,'Apr30': 600}
# If to access from Apr27 to Apr30

In [ ]:
dict['Apr26'] # O(1)

### BigO notation
- Used to measure running time or space requirements as input size grows
- time = a*n + b
Dropping constant
- O(n) order of n

In [ ]:
# O(n) example 

def square_num(number):
    square_numbers = []
    for i in number:
        square_numbers = number.append(i*i)
    return square_numbers

In [ ]:
numbers = [1,2,3,4,5,6]
square_num(numbers)

In [ ]:
# Time = a  - input size is large
# time = O(1) complexisity

def find_first_pe(prices,eps,index):
    pe = prices [index]/eps[index]
    return pe

In [11]:
# O(n^2)

number = [3,6,2,4,3,6,8,9]

for i in range(len(number)):
    for j in range(i+1, len(number)):
        if number[i] == number[j]:
            print(number[i])
            break
            
# O(n)
duplicate = None
for i in range(len(number)):
    if number[i] == duplicate:
        print(i)

3
6

In [13]:
numbers = [4,9,15,21,34,57,68,91] #O(n)

for i in range(len(numbers)):
    if numbers[i] == 57:
         print(i)

5

In [14]:
#Binary search (checking the mid value to see on left side if not eliminate)
# k = n/2^k
# K = O(logn)

In [15]:
# Array Data Structure 
# Let us say your expense for every month are listed below,
# 1. January -  2200
# 2. February - 2350
# 3. March - 2600
# 4. April - 2130
# 5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 400$. Make a correction to your monthly expense list
# based on this

In [16]:
exp = [2200, 2350, 2600, 2130, 2190]

In [17]:
print('Feb Expence compare to Jan', exp[1]- exp[0])

Feb Expence compare to Jan 150

In [18]:
print("Total expense in first three months", exp[0] +exp[1] +exp[2])

Total expense in first three months 7150

In [19]:
print("2000 dollars spent in any month", 2000 in exp)

2000 dollars spent in any month False

In [22]:
exp.append(1980)
print("Expenses at the end of June is", exp)

Expenses at the end of June is [2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [24]:
exp[3] = exp[3]-400
print("Expenses after refund amount in April" , exp)

Expenses after refund amount in April [2200, 2350, 2600, 1730, 2190, 1980, 1980]

In [26]:
# 2. You have a list of your favourite marvel super heros

heros=['spider man','thor','hulk','iron man','captain america']

In [27]:
len(heros)

5

In [31]:
heros.append('black panther')

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [32]:
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')

In [33]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [49]:
# Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
#
heros[1:3] = 'doctor strange' #this mistake result below it's good to do and fix ourself :)

In [52]:
unwanted = {'D',
 'o',
 'c',
 't',
 'o',
 'r',
 ' d',
 's',
 't',
 'r',
 'a',
 'n',
 'g',
 'e',}

In [53]:
heros = [ i for i in heros if i not in unwanted]
heros

['spider man', 'd', 'captain america']

In [57]:
heros[1] = 'doctor strange'
heros

['spider man', 'doctor strange', 'captain america']

In [59]:
# sort
heros.sort()
heros

['captain america', 'doctor strange', 'spider man']

In [60]:
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

max = int(input("Enter max number:"))

odd_num = []

for i in range(max):
    if i%2!=0:
        odd_num.append(i)
print("odd numbers:" , odd_num)

Enter max number:14
odd numbers: [1, 3, 5, 7, 9, 11, 13]

### Linked List
- Insert , delete is O(1) at the begging
- Insert , delete is O(n) at the end.
- Linkedlist main benefit over array - 
- 1. You don't need to pre-allocate space
- 2. Insertion is easier

### OOPS

In [97]:
## class - is design

SyntaxError: invalid syntax (<ipython-input-97-741415b4e8f7>, line 1)

In [ ]:
#Method Resolution Order
#Multiple inheritance - left to right

In [ ]:
#Polymorphism - one thing in many forms